// CHANGE BREAKPOINTS AS PER DESIGN
// ===================================
$breakpoints: (
  'xs-phone': 320px,
  'phone': 480px,
  'tablet': 768px,
  'desktop': 1024px,
  'widescreen': 1200px
);
// KEYWORDS
// =========
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// SCSS IMPORTS ** remove comment and active which are necessary
// ============
// ---  BASE  ---
@import 'base/variables';
@import 'base/mixins';
@import 'base/main-reset';
@import 'base/custom-reset';

// ---  VENDORS  ---
@import 'vendors/include-media';
// @import 'vendors/icomoon';
// @import 'vendors/js-components';

// ---  LAYOUT  ---
@import 'layout/common';
@import 'layout/header';
@import 'layout/footer';

// ---  COMPONENTS  ---
// @import 'components/banner';

// ---  PAGES  ---
@import 'pages/home-page';